.div-titulo-detail {
    padding: 5px 0px;
    margin-bottom: -10px;
}

.strong-review {
    font-size: 21px;
}

.textarea-review {
    width: 500px;
    height: 100px;
    font-size: 18px;
    border-radius: 5px;
}

.div-detail {
    background-color: whitesmoke;
    margin: 25px 75px 25px 75px;
    padding-top: 10px;
    padding-bottom: 10px;
}