.div-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-carousel{
    max-width: 1000px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 5px 5px 5px 0px grey;
}

/*.btn-carousel{  
   
}*/