.div-carousel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.img-carousel{
    max-width: 1000px;
    max-height: 600px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px black;
}

/*.btn-carousel{  
   
}*/