/*.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-content: center;
  background-color: #0000006e;
  background-size: cover;
  padding-bottom: 100px;
  padding-top: 100px;

  .inner {
    width: 600px;
    border-radius: 29px;
    border-radius: 29px;
    background: #1aa090;

    .h1 {
      font-size: 40px;
      font-weight: 600;
      margin-bottom: 10px;
    }

    .h4 {
      font-size: 23px;
      font-weight: 500;
      margin-bottom: 8px;
    }

    .images {
      display: flex;
      justify-content: center;
      justify-items: center;
      align-items: center;
    }
    .images img {
      width: 60%;
      height: 60%;
      max-width: 200px;
      max-height: 200px;
      margin: 20px;
      border-radius: 10px;
    }

    .p {
      color: black;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;
      padding: 20px;
      box-sizing: border-box;
    }

    .bt {
      background-color: #2e466e;
      border-radius: 42px;
      border: 1px solid #1f2f47;
      display: inline-block;
      cursor: pointer;
      color: #ffffff;
      font-family: Times New Roman;
      font-size: 20px;
      font-weight: bold;
      padding: 15px 52px;
      text-decoration: none;
      margin-bottom: 10px;
    }

    .bt:hover {
      background-color: #415989;
    }
  }
  .loading img {
    border-radius: 75px;
  }
}
*/

.div-detail{
  background-color: whitesmoke;
  margin: 25px 75px 25px 75px;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.row-detail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  color: black;

}

.caract-detail {
  display: flex;
  flex-direction: column;
  align-items: baseline;
}

.titulo-detail{
  background-color: black;
  color: white;
  margin-left: 75px;
  margin-right: 75px;
  margin-top: 10px;
  font-size: 15px;
}

.hr-detail{
  color: black;
}

.div-prop-detail{
  margin: 5px 0px;
}

.price-detail{
  color: red;
}

.div-titulo-detail{
  padding: 5px 0px;
  margin-bottom: -10px;
}