.modal {
  background-color: rgba(255, 255, 255, 0.5);
  backdrop-filter: blur(5px);
  position: fixed;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

.modal-content {
    /* background-color: #f0f0f0; */
    /* width: 300px; */
    padding: 10px 20px;
    height: 80vh;
    margin: 10vh auto;
    position: relative;
}

.modal-content .btn {
    display: block;
    margin-bottom: 32px;
    background-color: transparent;
    z-index: 999;
}
.btn{
  margin: 0;
  padding: 0;
  font-size: 25px;
  color: #000;
  border: none;
}
.btn:hover{
  border: none;
}
.btn:focus {
  outline: none !important;
}
