.formPasswords{
    width: 700px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 150px;
    box-shadow: 0px 0px 5px white;
    background-color: #0d2133;
    .div-password{
        display: flex;
        flex-direction: column;
        width: 50%;
        margin-left: 25%;
        .errors{
            color: red;
            font-size: small;
        }
    }
        .input {
            width: 50%;
            margin-left: 25%;
            border-style: solid;
            border-radius: 0px;
            background-color: black;
            color: white
        }
}