.cont_button_favorite{
    position: absolute;
}
.botton_favorite{
    margin-left: -50%;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    align-items: center;
    text-align: center;
    align-self: center;
}
.botton_favorite img{
    position: absolute;
    left: 18%;
    top: 10%;
    width: 25px;
    height: 25px;
    padding: 0;
}
.botton_favorite img:hover{
    width: 30px;
    height: 30px;
}

.cont_button_favorite button:focus {
    outline: none !important;
}