.cont_button_favorite{
    position: absolute;
}
.botton_favorite{
    margin-left: -50%;
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    position: relative;
    align-items: center;
    text-align: center;
    align-self: center;
}
.botton_favorite img{
    position: absolute;
    background-color: #f1f1f0a6;
    border-radius: 50%;
    left: 50%;
    top: 10%;
    width: 25px;
    height: 25px;
    padding: 5px;
}
.botton_favorite img:hover{
    width: 30px;
    height: 30px;
}