.userDetails {
  display: flex;
  color: white;
  padding-top: 15px;
  background: #091d36;
  height: 800px;

  .userView {
    padding: 10px 10px;
    width: 90%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    .ant-table-wrapper {
      .ant-table {
        color: white;

        .ant-table-container {
          font-size: 18px;
          .ant-table-content {
            .ant-table-thead {
              .ant-table-cell {
                color: white;
                background-color: rgba(#091d36, 85%);
              }
            }
            .ant-table-tbody {
              background: rgba(#091d36, 75%);
              .ant-table-row:hover {
                color: black;
              }
            }
          }
        }
      }
    }
  }

  
}

.newProfileImg {
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
.ant-table-cell {
  text-align: center;
}

.th {
  .ant-table-cell {
    text-align: center;
  }
}
