.fedDiv{
    display: flex;
    flex-direction: row;
    border: 1px solid #f1f1f0;
    background: white;
    margin: 8px 12.5%;
    width: 75%;
    box-shadow: 0px 0px 3px black;
    .photo {
            width: 100px;
        }
    .revInfo{
        display: flex;
        flex-direction: column;
        width: 100%;       
        margin-left: 50px;
        text-align: start;
        .nameDiv {
                margin-right: 10px;
                display: flex;
                justify-content: space-between;
            }
        p{
           margin-top: -5px;
            font-size: 18px;
        }
    }
    .stars{
        margin-top: 5px;
    }
    .star{
        width: 22px;
        border-color: black;
    }
}

