.containerP {
    display: flex;
    flex-direction: column;
    height: 50rem;
    // padding-bottom: 4rem;
    background-color: #121b25;
    
    .sub-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        
        .top-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .title-text {
                // display: flex;
                // flex-direction: column;
                // justify-content: space-around;
                // height: 70%;
                color: white;
                margin: 1rem;
            }
            
            .result-img{
                height: 65%;
                width: 60%;
                margin: 1rem;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
            
            .bottom-text {
                width: 75%;
                margin: 1rem;
                color: white;
            }
        }

        .buttons {
            display: flex;
            flex-direction: row;
            width: 60%;
            justify-content: space-around;
            margin: 1rem;
            .button{
                width: 100%;
                background-color: transparent;

                button {
                    background-color: #1ba191;
                    color: #fffffe;
                }
            }
        }
    }
}