.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .header__logo {
    width: 200px;
    height: 70px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__menu:hover .list, list:hover {
    display: flex;
  }
  .profile {
    margin-right: 25%;
    display: flex;
    align-items: center;
    color: white;
  }
  .profile p{
    font-size: 10px;
  }
  .profile__img {
    width: 60px;
    margin-right: 8px;
  }
  .profile__img img {
    border-radius: 50%;
    width: 70%;
  }
  .list {
    z-index: 999;
    list-style: none;
    display: none;
    position: absolute;
    right: 5%;
  }

  .list button{
    font-size: 10px;
    border-color:#fff;
    background-color: #121b25;
    border: none;
  }
  .a{
    position: absolute;
    z-index: 999;
    top: 25px;
  }
  .a:hover{
    border-color:#fff;
    color: #f00;
    border: none;
  }
  .button-favorite:hover{
    border: none;
    border-color:#fff;
    color: rgb(255, 255, 137);
  }
  .button-User{
    position: absolute;
  }
  .button-User:hover{
    color: #2e5e96;
  }
  .list__item {
    position: absolute;
    text-align: right;
  }
  .button-favorite{
    z-index: 1;
    position: absolute;
    right: 0;
  }