.header {
    display: flex;
    justify-content: space-between;
    padding: 12px;
  }
  .header__logo {
    width: 200px;
    height: 70px;
  }
  .header__logo img {
    width: 100%;
    height: 100%;
  }
  .header__menu:hover .list, list:hover {
    display: flex;
  }
  .profile {
    display: flex;
    align-items: center;
    color: white;
  }
  .profile p{
    font-size: 10px;
  }
  .profile__img {
    width: 40px;
    margin-right: 8px;
  }
  .profile__img img {
    border-radius: 50%;
    width: 70%;
  }
  .list {
    z-index: 999;
    list-style: none;
    display: none;
    position: absolute;
    margin-left: -12px;
  }
  .list__item {
    position: absolute;
    text-align: right;
  }