.About {
  background: #121b25;

  .Head {
    display: flex;
    flex-direction: row;

    column-gap: 50px;
    align-items: flex-start;
    padding: 10px;

    .Logo {
      padding-top: 10px;
      width: 30%;

      img {
        width: 100%;
      }
    }

    .Text {
      width: 100%;
      color: #ffffff;
      font-family: Work Sans;
      text-align: left;
      display: flex;
      flex-direction: column;

      h1 {
        margin: 0;
      }
    }
  }

  .Staff {
    color: #ffffff;
    font-family: Work Sans;

    .Members {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      row-gap: 1px;
      justify-content: space-evenly;
      height: 50%;

      .Member {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: flex-start;
        padding: 1rem;
        border: 1px solid gray;
        margin: 10px;
        margin-bottom: 0;
        height: 80%;

        img {
          width: 40%;
          height: 100%;
        }

        .Member-Text {
          display: flex;
          flex-direction: column;
          text-align: left;

          h1 {
            margin: 0;
            font-size: 40px;
          }

          h3 {
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 10px;
          }
        }
      }
    }
  }
}
