@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,700");

.About {
  background: #091d36;
  
  .TitleAbout{
    color: #f1f1f0;
    font-family: "Poppins";
    font-size: 2rem;
    margin-bottom: 10px;
  }
  .TextAbout{
    text-indent: 30px;
    color: #f1f1f0;
    font-family: "Poppins";
    font-size: 20px;
  }

  h1{
    color:black;
    font-family: "Poppins";

  }
  h3{
    color:black;
    font-family: "Poppins";
  }
  .Head {
    display: flex;
    flex-direction: row;
    
    column-gap: 50px;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    .Logo {
      padding-top: 10px;
      width: 30%;

      img {
        width: 100%;
      }
    }

    .Text {
      font-family: "Poppins";
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-family: Work Sans;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;

      h1 {
        margin-bottom: 10px;
      }
    }
  }

  .Staff {
    color: #ffffff;
    font-family: "Poppins";
    text-align: center;

    .StaffText{
      color: #f1f1f0;
        font-family: "Poppins";
        font-size: 2rem;
    }

    .Members {
      display: grid;
      grid-template-columns: repeat(4, 2fr);
      row-gap: 1px;
      justify-content: space-evenly;
      height: 50%;

      .Member {
        display: flex;
        flex-direction: row;
        column-gap: 20px;
        align-items: flex-start;
        padding: 1rem;
        background-color: #f1f1f0;
        box-shadow: 0px 0px 5px black;
        color: #091d36;
        border-radius: 10px;
        margin: 10px;
        margin-bottom: 0;
        height: auto;

        img {
          width: 40%;
          height: 100%;
          border-radius: 5px;
          object-fit: cover;
        }

        .Member-Text {
          display: flex;
          flex-direction: column;
          text-align: left;

          h1 {
            font-family: "Poppins";
            margin: 0;
            font-size: 40px;
          }

          h3 {
            font-family: "Poppins";
            width: 100%;
            height: 100%;
            margin: 0;
            font-size: 10px;
          }
        }
      }
    }
  }
}
