.cardsGrid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(2, 1fr);
  justify-items: center;
  justify-content: space-evenly;
  margin-top: 5%;
}

@media (max-width: 900px){
  .cardsGrid{
    display: flex;
    flex-direction: column;
  }
}
