.containerFilterCards {
  display: flex;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0);
  color: #121b25;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;

  &-select {
    color: #ffffff;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #ffffff;
    border-radius: 5px;

    select {
      text-align: center;
      font-size: 1rem;
      color: #121b25;
      height: 100%;
      width: 20%;
      background-color: inherit;
      border: #dfdcdc solid thin;
      cursor: pointer;
    }
  }
  &-input {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    
    input {
      text-align: center;
      font-size: 1.5rem;
      color: #121b25;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: none;
    }
  }
    .cleanFilters {
      background-color: #5e83ea;
      height: 100%;
      border:none;
      border-radius: 5px;
    }

  .searchBar-Container{
    height: 500px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    
    button{
      position: absolute;
      height: 50px;
      border: none;
      border-radius: 0 5px 5px 0;
      color: #f1f1f0;
      background-color:#5e83ea; ;
    }
  }
  .dropdown-cards{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 52%;
    padding-right: 8px;
    justify-content: flex-start;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
    height: 100px;
    max-height: 450px;
    margin-top: 150px;
    margin-left: 50px;
  }
  .dropdown-row-Cards{
    background-color: #dfdcdc;
    width: 32%;
    cursor: pointer;
  }
  .dropdown-row-Cards:hover{
    background-color: #5e83ea;
    color: #f1f1f0;
  }
}

@media (max-width: 740px){
  .containerFilterCards{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    margin-left: 0%;
    margin-right: 0%;
    margin-bottom: 0%;
    &-select {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 15px;
      padding-top: 275px;
      padding-left: 140px;
      padding-right: 140px;
      padding-bottom: 275px;
      background-color: #121b25;
    }
    &-input {
    justify-content: center;
    .searchBar-Container{
      display: flex;
      justify-content: center;
      button{
        display: flex;
        background-color: #3a4e7a;
        text-align: center;
        position: relative;
      }
    }
    }
    .Operation-select{
      width: 120px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .type-select{
      width: 140px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .price-order{
      width: 130px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .price-select{
      color: #000000;
      width: 390px;
      height: 50px;
      font-size: 18px;
      margin-bottom: 120px;
      display: flex;
      flex-direction: column;
      align-items: center;
      select{
        margin-bottom: 20px;
      }
    }

    .garage-select{
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
    }
    .rooms-select{
      width: 140px;
      height: 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
    }
  }
  .containerFilterCards select{
    width: 50%;
  }
  button{
    background-color: #3a4e7a;
    width: 109px;
    padding: 6px;
    border-radius: 10px;
    font-weight: bold;
  }
  
}

@media (max-width: 1360px){
  .containerFilterCards{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    &-select {
      margin-top: 30px;
      margin-left: 15px;
      padding-top: 20px;
    }
    &-input {
      width: 300px;
    }
    .searchBar-Container{
      button{
        width: 70px;
        background-color: #3a4e7a;
      }
    }
    .Operation-select{
      width: 120px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .type-select{
      width: 140px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .price-order{
      width: 130px;
      height: 50px;
      background-color: #ffffff;
      margin-bottom: 20px;
    }
    .price-select{
      color: #000000;
      width: 285px;
      height: 50px;
      font-size: 18px;
      display: flex;
      margin-left: 15px;
      select{
        height: 30px;
        margin-left: 15px;
      }
    }

    .garage-select{
    width: 110px;
    height: 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
    }
    .rooms-select{
      width: 140px;
      height: 50px;
    background-color: #ffffff;
    margin-bottom: 20px;
    }
  }
  .containerFilterCards select{
    width: 50%;

  }

  .cleanFilters{
    width: 118px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    font-weight: bold;
  }
}