.containerFilterCards {
  display: flex;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0);
  background-color: transparent;
  color: #121b25;
  justify-content: space-around;
  margin-top: 20px;
  justify-content: space-around;
  align-items: center;
  

  &-select {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: #ffffff;
    

    select {
      text-align: center;
      font-size: 1rem;
      color: #121b25;
      height: 100%;
      width: 20%;
      background-color: inherit;
      border: #dfdcdc solid thin;
      cursor: pointer;
    }
  }
  &-input {
    height: 50px;
    width: 100%;
    background-color: #ffffff;
    

    input {
      text-align: center;
      font-size: 1.5rem;
      color: #121b25;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: none;
    }
  }

  .searchBar-Container{
    height: 500px;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
    button{
      position: absolute;
      height: 50px;
      border-radius: 0 0 0 0;
      background-color: #1aa090 ;
    }
  }
  .dropdown-cards{
    display: flex;
    position: absolute;
    flex-direction: column;
    width: 50%;
    justify-content: center;
    align-items: center;
    z-index: 999;
    overflow-y: auto;
    height: 100px;
    max-height: 450px;
    margin-top: 100px;
  }
  .dropdown-row-Cards{
    margin-top: 50px;
    background-color: #dfdcdc;
    width: 40.3%;
    margin-top: -27px;
    margin-left: 90px;
    cursor: pointer;
  }
}

@media (max-width: 900px){
  .containerFilterCards{
    display: flex;
    flex-direction: column;
    &-select {
      display: flex;
      flex-direction: column;
      margin-top: 40px;
      margin-left: 15px;
      padding: 80px;
      background-color: #121b25;
    }
    &-input {
    margin-right: 90px;
    }
    .Operation-select{
      background-color: #ffffff;
      margin: 5px;
    }
    .type-select{
      background-color: #ffffff;
      margin: 5px;
    }
    .price-order{
      background-color: #ffffff;
      margin: 5px;
    }
    .price-select{
      background-color: #ffffff;
      margin: 5px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .garage-select{
    background-color: #ffffff;
    margin: 5px;
    }
    .rooms-select{
    background-color: #ffffff;
    margin: 5px;
    }
  }
  .containerFilterCards select{
    width: 50%;
  }
}