.filter-column{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.filters {
  position: absolute;
  display: flex;
  align-items: center;
  text-align: center;
  height: 55px;
  width: 70%;
  box-shadow: 0px 4px 24px rgba(0, 0, 0, 0);
  background-color: #ffffff;
  color: #121b25;
  border: none;
  border-radius: 8px 8px 0 0;
  justify-content: space-between;
  border: #121b25 solid thin;

  &-input {
    width: 90%;
    background-color: #ffffff;
    border: none;
    
    input {
      text-align: center;
      font-size: 1.2rem;
      color: #121b25;
      width: 100%;
      height: 100%;
      background-color: inherit;
      border: none;

    }
        
  }

  

    button {
      display: flex;
      align-items: center;
      width: 60px;
      height: 55px;
      background-color: #1ba191;
      text-align: center;
      cursor: pointer;
      justify-content: center;
      border-radius: 0 5px 0 0;

      img{
        width: 55px;

        height: 50px;
        object-fit:cover;
      }
    }
  
    button:hover {
      background-color: #47bcae;
    }
  }

  .button-ct-searbarhome{
    width: 10%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }

  .dropdown-container{
    margin-top: 85px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
    
  }

  .dropdown {
    position: absolute;
    font-size: 1rem;
    color: #8a8a8a;
    width: 70%;
    max-height: 300px;
    overflow-y:auto ;
    background-color: rgb(216, 216, 216);
    display: flex;
    flex-direction: column;
    border: none;
    justify-content: center;
    align-items: center;
    border-radius: 0 0 5px 5px;
    cursor: pointer;
    border: #121b25 solid thin;  }

  .dropdown:empty{
    border:none;
  }

  .dropdown-row{
    height: 30px;
    border: none;
    width: 100%;
    text-align: center;
  }
   
  .dropdown-row:hover{
    background-color: #bab9b9;
  }

input:focus {
  outline: none;
}