.containerE {
  display: flex;
  flex-direction: row;
  height: 800px;
  background: #121b25;
  padding: 25px;
  align-content: center;
  align-items: center;
  justify-content: space-evenly;
  ul {
    width: 100%;
    height: 600px;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;

    li {
      width: 25%;
    }
  }

  .homecards {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #ffffff;
    color: #000;
    width: 100%;
    height: 100%;
    border: #000 solid thin;
    border-radius: 8px;
    padding: 5%;

    &-text {
      padding: 2%;
      width: 80%;
      font-size: 1rem;

      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        padding: 3%;
      }

      a {
        padding: 3% 15%;
        border-radius: 8px;
        color: #fffffe;
        margin: 0 auto;
        background-color: #1ba191;
        border: none;
        cursor: pointer;
      }
    }

    &-image {
      width: 100%;
      height: 100%;

      img {
        border-radius: 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
}
