.home {
  display: flex;
  flex-direction: column;
  background: #121b25;
  color: #d6d6d6;
  position: relative;
}


.containerI {
  height: 100vh;
  background: url("https://images7.alphacoders.com/573/573233.jpg") no-repeat;
  background-size: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 900px){
  .containerI {
    background-size: cover;
    background-position: center;
  }
}
