.containerE {
  display: flex;
  flex-direction: row;
  background: #091d36;
  padding: 10% 0;
  align-content: center;
  align-items: center;
  text-align: center;
  justify-content: space-evenly;
  ul {
    width: 100%;
    height: 70%;
    display: flex;
    list-style-type: none;
    flex-direction: row;
    justify-content: space-evenly;

    li {
      width: 25%;
    }
  }

  .homecards {
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    background-color: #f1f1f0;
    color: #000;
    width: 100%;
    height: 100%;
    border: #000 solid thin;
    border-radius: 8px;
    padding: 5%;

    &-text {
      padding: 2%;
      width: 80%;
      font-size: 0.8rem;

      h4 {
        font-weight: bold;
        font-size: 1.5rem;
      }

      p {
        padding: 2%;
      }

      a {
        padding: 3% 15%;
        border-radius: 8px;
        color: #fffffe;
        margin: 0 auto;
        background-color: #5e83ba;
        border: none;
        cursor: pointer;
      }
      a:hover{
        background-color: #3a4e7a;
      }
    }

    &-image {
      width: 100%;
      height: 70%;
      img {
        border-radius: 5px;
        width: 100%;
        height: 50vh;
        object-fit: cover;
      }
    }
  }
}

@media(max-width: 900px){
  .containerE {
    display: flex;
    height: 1450px;
    background: #121b25;
    ul {
      width: 100%;
      height: 600px;
      display: flex;
      list-style-type: none;
      flex-direction: column;
      align-items: center;

      li {
        width: 70%;
        margin-bottom: 50px;
      }
    }
}
}