.listings {
  background: #121b25;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.cardsContainer {
  display: block;
}
