.loading {
  width: 100%;
  height: 750px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121b25;
  img {
    width: 8%;
  }

  &-label {
    padding-left: 30px;
    font-size: 4rem;
    color: #e4e4e2;
    margin-left: 12px;
    animation: fade 1s ease-in infinite;
  }
}

.loading--color {
  .loading-label {
    color: #111823;
  }
}

@media(max-width: 740px){
  .loading{
    img{
      width: 30px;
    }
    &-label {
   font-size: 50px;
    }
  }

}

@keyframes fade {
  to {
    opacity: 0;
  }
}
