.loading {
  // position:fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #121b25;
  z img {
    width: 8%;
  }

  &-label {
    padding-left: 30px;
    font-size: 8rem;
    color: #e4e4e2;
    margin-left: 12px;
    animation: fade 1s ease-in infinite;
  }
}

.loading--color {
  .loading-label {
    color: #111823;
  }
}

@keyframes fade {
  to {
    opacity: 0;
  }
}
