.nav {
  height: 47px;
  width: 95%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0 10px 2%;
  z-index: 9999;
  background: #121b25;
  border-bottom: 1px solid #d6d6d6;
}

.nav p {
  font-size: 25px;
  color: #d6d6d6;
}

.linksContainer {
  display: flex;
  align-items: center;
  font-size: 16px;
  line-height: 18.77px;
}

.link {
  align-self: center;
  text-align: center;
  width: 100px;
  text-decoration: none;
  color: #d6d6d6;
}

.link:hover {
  width: 100px;
  color: #d6d6d6;
  text-decoration: underline 2px #1aa090;
}

.loginContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.button {
  width: 100px;
  height: 41px;
  left: 1497px;
  top: 38px;
  background: #1aa090;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #d6d6d6;
  text-decoration: none;
}

.button:hover {
  color: #959595;
}
.div_register_cont{
  display: flex
}
.cont-user-nav{
  display: relative;
}
.img_user{
  border-radius: 50%;
  width: 25px;
  height: 25px;
}
.btn_logout{
  height: 30%;
  width: 50%;
}